<%= render partial: 'navbar' %>

<h2>Update a Discount</h2>

<%= render partial: 'form',
           locals: {
                    method: :patch,
                    path: merchant_discount_path(@merchant, @discount),
                    class: 'merchant_discount_form',
                    local: true,
                    model: @discount,
                    discount: @discount,
                    button_text: 'Update Discount'} %>
