<%= render partial: 'navbar' %>

<h2>Create a New Discount</h2>

<%= render partial: 'form',
           locals: {
                      method: :post,
                      path: merchant_discounts_path(@merchant),
                      class: 'discount_form',
                      local: true,
                      model: @discount,
                      discount: @discount,
                      button_text: 'Create Discount'} %>
